{% extends 'base.html.twig' %}
{% block titulo %}Login Usuario{% endblock %}
{% block contenido %}
<div class="container">

<h1 class="mt-4 mb-3">Login de Usuario</h1>   
<form method="post" action="import.php" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputFile">File Upload</label>
        <input type="file" name="file" class="form-control" id="exampleInputFile">
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}

